# https://k6.io/docs/cloud/creating-and-running-a-test/cloud-tests-from-the-cli#running-tests-under-a-different-project-than-your-default-one
K6_CLOUD_PROJECT_ID=
# The API Base URL
APIV2_URL=
# 2FA enabled user for generating a bearer token
ACCOUNT_2FA_EMAIL=
# 2FA enabled user password
ACCOUNT_2FA_PASSWORD=
# 2FA enabled user secret
ACCOUNT_2FA_SECRET=
# reCaptcha
RECAPTCHA_KEY=